body {
  background-color: #424549;
  margin: 0;
}

/* {
  font-family: "ggsans";
  src: "../public/ggsans.ttf";
  color: #BDBDCE;
}*/

@font-face {
  font-family: "ggsans";
  src: url("/ggsans.ttf");
}

* {
  font-family: "ggsans";
  src: "/ggsans.ttf";
}